name: Publish
on:
  release:
    types: [created]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          distribution: "temurin"
          java-version: 17
      - run: ./gradlew publish -Pgpr.user=${{ secrets.GITHUB_ACTOR }} -Pgpr.key=${{ secrets.GITHUB_TOKEN }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "Add git configuration"
        run: |
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "github-action-bot@experimental-software.com"
      - name: Update Javadocs on GitHub pages
        run: |
          ./.github/scripts/update_javadocs.sh
      - name: Update README
        env:
          CURRENT_VERSION: ${{ github.ref_name }}
        run: |
          ./.github/scripts/update_readme.sh ${CURRENT_VERSION}
          git add README.md
          git commit -m "docs: update latest version number"
          git fetch origin
          git merge origin master
          git push origin master
